@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --zoom: 0.5rem;
  --background: #ffffff;
  --foreground: #171717;
  --primary: #6074b6;

  --primary-100: #dbe1ff;
  --primary-200: #b5c4ff;
  --primary-300: #94a9ee;
  --primary-400: #7a8ed2;
  --primary-500: #6074b6;
  --primary-600: #475b9b;
  --primary-700: #2e4382;
  --primary-800: #142c6a;
  --primary-900: #00174c;

  /*
  @media (prefers-color-scheme: dark) {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  */
  @media (min-width: 640px) {
    --zoom: 1rem;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: calc(2rem + var(--zoom));
  font-weight: 600;
}

h2 {
  font-size: calc(1.5rem + var(--zoom));
  font-weight: 500;
}

h3 {
  font-size: calc(1.25rem + var(--zoom));
  font-weight: 500;
}

h4 {
  font-size: calc(1.25rem + var(--zoom));
  font-weight: 300;
}

p {
  font-size: 1rem;
  font-weight: 350;
}

h5 {
  font-size: calc(1rem + var(--zoom));
  font-weight: 600;
}

h6 {
  font-size: calc(1rem + var(--zoom));
  font-weight: 200;
}

.show {
  font-size: 2rem;
  color: black;
  animation: fadeIn 1s ease-in-out;
  opacity: 0;
  animation-fill-mode: forwards;
}

.animationDelay-100 {
  animation-delay: 100ms;
}

.animationDelay-200 {
  animation-delay: 200ms;
}

.animationDelay-300 {
  animation-delay: 300ms;
}

.animationDelay-400 {
  animation-delay: 400ms;
}

.animationDelay-500 {
  animation-delay: 500ms;
}

.animationDelay-600 {
  animation-delay: 600ms;
}

.animationDelay-700 {
  animation-delay: 700ms;
}

.animationDelay-800 {
  animation-delay: 800ms;
}

.animationDelay-900 {
  animation-delay: 900ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
